{
  "components": {
    "securitySchemes": {
      "apiAuth": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  },
  "info": {
    "title": "Exa Search API",
    "description": "Exa搜索API允许用户智能地搜索网络并从结果中提取内容。",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/search": {
      "post": {
        "summary": "搜索",
        "description": "搜索端点允许您智能地搜索网络并从结果中提取内容。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "搜索查询字符串",
                    "example": "blog post about AI"
                  },
                  "type": {
                    "type": "string",
                    "description": "搜索类型。神经搜索使用基于嵌入的模型，关键词搜索类似于谷歌的SERP。默认是自动。建议使用keyword。",
                    "enum": ["keyword", "neural", "auto"],
                    "default": "auto",
                    "example": "keyword"
                  },
                  "numResults": {
                    "type": "integer",
                    "description": "返回结果的数量，建议使用最大25",
                    "default": 10,
                    "example": 25
                  },
                  "contents": {
                    "type": "object",
                    "description": "内容提取设置",
                    "properties": {
                      "summary": {
                        "type": "boolean",
                        "description": "是否返回网页摘要，建议选是",
                        "example": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "description": "搜索结果列表",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "搜索结果的标题"
                          },
                          "url": {
                            "type": "string",
                            "description": "搜索结果的URL"
                          },
                          "publishedDate": {
                            "type": "string",
                            "nullable": true,
                            "description": "内容的创建日期"
                          },
                          "author": {
                            "type": "string",
                            "nullable": true,
                            "description": "内容的作者"
                          },
                          "score": {
                            "type": "number",
                            "nullable": true,
                            "description": "相似度分数"
                          },
                          "id": {
                            "type": "string",
                            "description": "文档的临时ID"
                          },
                          "summary": {
                            "type": "string",
                            "description": "网页摘要"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiAuth": []
          }
        ]
      }
    }
  },
  "security": [
    {
      "apiAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://api.exa.ai"
    }
  ]
}
